<nav>
  <div class="logo">
    <span class="span-logo" a routerLink="/">Radioamateur</span>
  </div>

  <button class="hamburger" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="nav-content" [class.active]="isMenuOpen">
    <ul>
      <li><a href="#" (click)="isMenuOpen = false">Mission</a></li>
      <li><a href="#" (click)="isMenuOpen = false">Devenir membre</a></li>
      <li><a href="#" (click)="isMenuOpen = false">Événements</a></li>
      <li><a routerLink="/examens" (click)="isMenuOpen = false">Générateur d'examens</a></li>
    </ul>

    <div class="btn-navbar">
      <app-button variant="secondary" type="submit"
        ><span style="margin-right: 8px">Connexion</span><i class="fa-regular fa-user"></i
      ></app-button>
      <app-button type="submit">Portail éducatif</app-button>
    </div>
  </div>
</nav>
